.contact {
    background-color: #fff;
    padding: 5rem 0;
}
.container-c{
    margin: 0 auto;
    max-width: 60rem;
}
.content-contact{
    display: flex;
    flex-direction: column;
}
.content-header{
    color: #0077C0;
    font-weight: bold;
    font-size:2rem;
}
.content-contact .contact-group{
    display: flex;
    margin-top:2rem;
    align-items: center;
    gap: 2.5rem;
}
.contact-icon-box{
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.contact-icon-box span{
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 1.3rem;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.icon-img{
    width:20px;
}
@media (min-width: 511px) and (max-width:1000px){
    .container-c{
        max-width:90vw;
    }
    .contact-icon-box span{
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        padding: 0.7rem;
    }
    .content-contact .contact-group{
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
    
}
@media only screen and (max-width:510px){
    .contact{
        margin-left: 1rem;
    }
    .content-contact .contact-group{
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
    
}